/* ----- Reset ----- /

/ simplify sizing */
*,
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px 100px 0px 100px;
  box-sizing: border-box;
}
.header .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 55px;
  color: #ff6060;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.header .navigation .link:hover {
  text-decoration-line: underline;
}
.header .navigation .link-mobile {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 376px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    gap: 10%;
  }
  .header .logo {
    height: 47px;
    width: 145px;
  }
  .header .navigation {
    font-size: 12px;
    gap: 20px;
  }
  .header .navigation .link {
    display: none;
  }
  .header .navigation .link-mobile {
    display: block;
  }
}
.cover {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  margin: 45px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.cover .cover-img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(75%);
}

@media screen and (min-width: 320px) and (max-width: 376px) {
  .cover {
    height: 111px;
  }
  .cover .cover-txt {
    width: 217px;
    height: 48px;
    font-size: 24px;
    word-wrap: break-word;
  }
}
.gallery-background {
  max-width: 100%;
  height: 100%;
  border-radius: 25px;
  background: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: flex-start;
  padding: 56px 50px;
}

.card-img {
  height: 340px;
  width: 340px;
  border-radius: 10px;
}

.list-item {
  position: relative;
}

.transparent-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 340px;
  width: 340px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.card-title {
  color: white;
  z-index: 2;
  position: absolute;
  padding: 20px;
  bottom: 0;
}

.background {
  width: 100%;
  height: 115px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 29px;
}
.background .mentions {
  color: white;
  font-size: 24px;
}

@media screen and (min-width: 320px) and (max-width: 376px) {
  .background {
    width: 100%;
    height: 210px;
  }
  .background .logo-white {
    height: 39px;
    width: 122px;
  }
  .background .mentions {
    font-size: 12px;
    padding: 0px 100px 0px 100px;
    text-align: center;
  }
}
.home {
  padding: 0px 100px 45px 100px;
}
.home .cover-txt {
  position: absolute;
  z-index: 2;
  color: white;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  white-space: nowrap;
}

@media screen and (min-width: 320px) and (max-width: 376px) {
  .home {
    padding: 0px 20px 0px 20px;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 100px 30px 100px;
  max-width: 100%;
}
.about .collapsible-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;
  width: 80%;
  background-color: pink;
}

.product-page {
  display: flex;
  flex-direction: column;
  padding: 45px 100px 0px 100px;
}

.errorpg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6060;
  gap: 140px;
}
.errorpg .four-o-four {
  font-weight: 700;
  font-size: 288px;
}
.errorpg .errormsg {
  font-size: 36px;
  font-weight: 500;
  padding-top: 40px;
}
.errorpg .homelink {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline solid #ff6060;
  padding-bottom: 140px;
}

@media screen and (min-width: 320px) and (max-width: 376px) {
  .errorpg {
    gap: 113px;
  }
  .errorpg .four-o-four {
    padding-top: 113px;
    font-size: 96px;
  }
  .errorpg .errormsg {
    font-size: 19px;
    text-align: center;
    line-break: auto;
  }
}
.product-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ff6060;
  padding-top: 20px;
}
.product-titles .name-location {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10px;
}
.product-titles .name-location .name {
  font-weight: 500;
  font-size: 36px;
}
.product-titles .name-location .location {
  font-size: 18px;
}
.product-titles .host {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.product-titles .host .host-name {
  font-size: 18px;
}
.product-titles .host .circle-photo {
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

.tags-ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.tags-ratings .tags {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.tags-ratings .tags .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 25px;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  font-size: 14px;
}

.button-container {
  max-width: 100%;
}
.button-container .togglebtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #ff6060;
  border-radius: 5%;
  cursor: pointer;
  padding: 0px 15px;
  color: white;
  font-size: 24px;
}

.img-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 415px;
}
.img-slider .product-imgs {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.img-slider .arrows {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.img-slider .slider-count {
  position: absolute;
  bottom: 25px;
  color: white;
}